
$baseColor = #111
$baseBackgroundColor = darken($white, 1%)

$baseFontSize = 16px
$baseFontFamily = Arial, sans-serif

$baseLinkColor = $blue
$baseLinkHoverColor = lighten($blue, 40%)
$baseLinkActiveColor = $red
$baseLinkUnderline = false

$borderRadiusDefault = 3px
