
<!DOCTYPE html>
<html>
  <head>
    <%- include('/head') %>
  </head>
  <body>
    <%- include('/header') %>

    <section>
      <div class="l-box">
        <div class="l-row">
          <div class="l-col l-col_1">
            <%- contents %>
          </div>
        </div>
      </div>
    </section>

    <%- include('/footer') %>
  </body>
</html>
