
<div class="b-article">
  <div class="b-article__title">
    <a href="<%= article.path %>"><%= article.title %></a>
  </div>
  <div class="b-article__introtext">
    <%= article.introtext %>
  </div>
</div>
