
<div class="article">
  <div class="article__title">
    <a href="<%= article.path %>"><%= article.title %></a>
  </div>
  <div class="article__introtext">
    <%= article.introtext %>
  </div>
</div>
