
<header class="b-header">
  <div class="container">
    <div class="row b-header__row">
      <div class="col w1">
        <div class="b-header-logo">
          <a href="" class="b-header-logo__link">
            <img src="assets/logo.png" alt="" class="b-header-logo__img">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
